.App {
  text-align: center;
  font-family: 'Titillium Web', 'Lato', sans-serif;
}

.nav-color {
  background: url('./whirlpool.png');
}

.nav-link {
  padding: 1rem;
}

h1 {
  font-weight: bold;
}

ul {
  margin: auto;
  list-style: inside;
}

.pulse-chart{
  width: 100%;
}