.App {
  text-align: center;
  font-family: 'Titillium Web', 'Lato', sans-serif;
}

.nav-color {
  background: url('./whirlpool.png');
}

.nav-link {
  padding: 1rem;
}

h1 {
  font-weight: bold;
}

ul {
  margin: auto;
  list-style: inside;
}

.pulse-chart{
  width: 100%;
}

.user-name {
  font-weight: bold;
  font-size: 1.2rem;
  margin-left: 0.7rem;
  margin-right: 0.7rem;
}